body{
    background-color:#eee;
}

p span{
    color:green;
}

p:nth-child(1) span{
    color:blue;
}


main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#statistics{
    display: flex;
    flex-flow: row wrap;
}

#statistics div{
    margin: 0 10px;
    border: solid 1px black;
    padding: 20px;
}

#health div{
    width: 180px;  /* changed just for demo */
    height: 20px;  /* just for demo */
    background-size: 200% 100%;
    background-image: linear-gradient(to right, whitesmoke 50%, #FF0000 50%);
    /*animation: fill 2s ease infinite; */ /* just for demo */
}
@keyframes fill {
    to {
        background-position: -100% 0;
    }
}